body{
    font-size: 16px;
    font-family: sans-serif;
}
main.aboutus {
    section{
        width: 80%;
        margin: 0 auto;
        display: table;
        margin-top: 40px;

        nav.shortcut {
            display: flex;
            justify-content: space-between;
        }

        article{
            @include box-sizing (border-box);
            float:left;
            height: 100%;
            padding: 2%;
            &:target {
                background: $colorform;
            }
            &.column1{
                width: 50%;
            }
            &.column2{
                width: 50%;
                ol > li:nth-child(2n+1){
                    background: $companycolor;
                    color: $colortarifas;
                }
            }
            &.column3{
                width: 33%;
            }
            &.column4{
                width: 33%;
            }
            &.column5{
                width: 33%;
            }
        }
    }
}
  @media screen and (max-width: 960px){
    main.aboutus {
        section{
            width: 90%;

        }
    }
  }

  @media screen and (max-width: 600px){
    main.aboutus {
        section{
            width: 100%;

            nav.shortcut {
                font-size: 20px;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                a {
                    margin-top: 8px;
                }
            }
            
            article {
                &.column3{
                    width: 50%;
                }
                &.column4{
                    width: 50%;
                }
                &.column5{
                    width: 100%;
                }
            }
        }
    }
  }

  @media screen and (max-width: 480px){
    main.aboutus {
        section {
            width: 100%;

            article {
                &.column1, &.column2, &.column3, &.column4, &.column5{
                    width: 100%;
                }
            }
        }
    }
  }