main.contact {
    margin-top: 30px;
    margin-bottom: 30px;
    @include box-sizing (border-box);
    text-align: center;
    
    .titles {
        .unuseful_title {
            position: absolute;
            margin-left: 7%;
            margin-top: -3%;
        }
    }

    form fieldset{
        table {
            display: grid;
            justify-content: center;
        }

        width: 70%;
        margin: auto;

        &:hover {
            background-color: $colorform;
        }
    }
        
    
}
  @media screen and (max-width: 1050px){
    main.contact {
        form fieldset{
            table {
                .table__row {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 100%;
                }
            }
            width: 80%;
        }
    }
  }