footer {
    background: #cacaca;
    bottom: 0;
    width: 100%; 
    padding-bottom: 30px;
    aside {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1140px;
        a {
            color: $companycolor;
        }
    }

    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    footer {
        .aboutus {
            display: none;
        }
        grid-template-columns: 50% 50%;
    }
}