header {
    nav {
        a {
            float: left;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
            color: black;
            
            &:hover {
                background-color: #ddd;
                color: black;
            }
            
            &.active {
                background-color: $companycolor;
                color: white;
            }

            &:visited {
                color: $companycolor;
            }

            img {
                display: grid;
            }
        }
        display: grid;
        grid-template-columns: 70% 10% 10% 10%;
        justify-content: right;
    }
}

@media screen and (max-width: 1050px) {
    header {
        nav {
            grid-template-columns: 50% 15% 15% 19%;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        nav {
            img {
                margin: auto;
            }
            grid-template-columns: 100%;
        }
    }
}