main.index {
    section {
        /* IMAGEN */
        &.img {
            picture {
                *{
                    width: 100%;
                    clip-path: inset(4% 3% 10% 2%);
                    border-radius: 255px;
                }
            }
        }

        /* SVG */
        @import "_svg";

        /* RUEDA DE CARGA */
        &.load {
            text-align: center;
            margin-top: 10px;

            .loader {
                @include animation (load, 5s, infinite);
            }
        }

        /* TARIFAS */
        &.tarifas {
            .tarifa {
                .header {    
                    height: 100%;
                    text-align: center;
                    color: $colortarifas;
                    background-color: gray;
                    padding-top: 5px;
                    img {
                        display: block;
                        margin: auto;
                    }
                }
                .price {
                    color: $colortarifas;
                    background-color: $companycolor;
                    text-align: center;
                    font-size: 30px;
                }
                .content {
                    p {
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0px;
                        border-style: none none solid none;
                        padding: 20px;
                    }
                }
                .footer {
                    button {
                        background-color: $companycolor;
                        border: solid;
                        color: $colortarifas;
                        padding: 20px;
                        font-size: 20px;
                        cursor: pointer;
                        &:hover {
                            color: yellow;
                        }
                    }
                    display: grid;
                    grid-template-columns: 50% 50%;
                }
                &:hover {
                    @include transition (transform, 0.4s, ease-out);
                    transform: scale(1.05);
                }
                display: grid;
                grid-template-rows: 22% 20% 46% 10%;
                border-style: solid;
                box-shadow: 10px 10px 0px 0px rgba(166,166,166,0.75);
            }
            display: grid;
            grid-template-columns: 25% 25% 25%;
            justify-content: space-evenly;
            margin-top: 30px;
        }
        
        /* TEXTOS */
        &.text--company {
            article {
                display: grid;
                grid-template-rows: 35% 65%;
                max-width: 80%;
                margin-left: 10%;
                p em.especial { 
                    background: #FFCC99;
                    border: 1px solid #FF9900;
                    padding: .1em; 
                }
                p span { font-weight: bold; }
                p {
                    inline-size: 40vw;
                }
            }
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            margin-bottom: 40px;
            margin-top: 30px;
        }
    }
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1050px) {
    main.index {
        section {
            &.tarifas {
                .tarifa {
                    .header, .price {  
                        h2 {
                            font-size: 20px;
                        }
                    }
                    .content {
                        p {
                            font-size: 15px;
                            padding: 10px;
                        }
                    }
                    .footer {
                        button {
                            padding: 10px;
                            font-size: 20px;
                        }
                        grid-template-columns: 100%;
                    }
                    height: 460px;
                    margin-top: 30px;
                    grid-template-rows: 25% 12% 41% 20%;
                }
                grid-template-columns: 40% 40%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main.index {
        section {
            &.tarifas {
                grid-template-columns: 70%;
            }

            &.text--company {
                article {
                    p {
                        inline-size: 75vw;
                    }
                }

                grid-template-columns: 100%;
            }
        }
    }
}