/* Utilizamos esye keyframe en la animacion de la "ruedecita" */
@keyframes load {
    0% {transform: rotateZ(100deg); transition: transform;}
    25% {transform: rotateZ(200deg); transition: transform;}
    50% {transform: rotateZ(300deg); transition: transform;}
    75% {transform: rotateZ(400deg); transition: transform;}
    100% {transform: rotateZ(500deg); transition: transform;}
}

/* Utilizamos estos keyframes en el svg */
@keyframes move {
    from{
       stroke-dashoffset:1000;
       stroke:#fafafa;
       fill-opacity:0;
    }
    
    to {
       stroke-dashoffset:4368;
       stroke: #000000;
       fill-opacity:0.3;
    }
}
  
@keyframes draw {
    0% {
        stroke-dasharray: 340 720;
        stroke-dashoffset: -398;
        stroke-width: 18px;
    }
    100% {
        stroke-dasharray: 114 4 31;
        stroke-dashoffset: 135 123;
        stroke-width: 7px;
    }
}
@keyframes colors {
    0% {
        color: $companycolor;
    }
    25% {
        color: rgb(255, 0, 0);
        }
    50% {
        color: $companycolor;
    }
    75% {
        color: rgb(255, 0, 0);
    }
    100% {
        color: rgb(0, 0, 0);
    }
}