@mixin transition ($property, $duration, $timing: linear) {
    /* Safari */
    -webkit-transition-property: $property;       
    -webkit-transition-duration: $duration;       
    -webkit-transition-timing-function: $timing; 
  
    /* Mozilla */
    -moz-transition-property: $property;          
    -moz-transition-duration: $duration;
    -moz-transition-timing-function: $timing; 
  
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
  }
  
@mixin animation ($name, $duration, $count: 1, $timing: linear) {
  /* Safari */
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-iteration-count: $count;

  /* Mozilla */
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timing;
  -moz-animation-iteration-count: $count;

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $count;

}

@mixin box-sizing ($value){
  -webkit-box-sizing: $value; /* Safari */
  -moz-box-sizing: $value; /* Mozilla */
  box-sizing: $value;
}