&.svg{
    .forma {
        stroke-width: 10px;
        stroke:#fafafa;
        stroke-dasharray:1000;
        stroke-dashoffset:1000;
        @include animation (move, 10s, 1, forwards);

        fill: transparent;
        stroke-dasharray: 120 500;
        stroke-dashoffset: -300;
        stroke-width: 8px;
        stroke: #ff0800;
    }
  
    .text {
        color: $companycolor;
        font-size: 22px;
        line-height: 32px;
        position: relative;
        top: -70px;
        &:hover {
            @include animation (colors, 3s, 1, forwards);
        }
    }
    &:hover .forma{
        @include animation (draw, 2s, 1, forwards);
    }

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

}