/* Utilizamos esye keyframe en la animacion de la "ruedecita" */
@import url(http://weloveiconfonts.com/api/?family=entypo);
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  25% {
    -webkit-transform: rotateZ(200deg);
            transform: rotateZ(200deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  50% {
    -webkit-transform: rotateZ(300deg);
            transform: rotateZ(300deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  75% {
    -webkit-transform: rotateZ(400deg);
            transform: rotateZ(400deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  100% {
    -webkit-transform: rotateZ(500deg);
            transform: rotateZ(500deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  25% {
    -webkit-transform: rotateZ(200deg);
            transform: rotateZ(200deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  50% {
    -webkit-transform: rotateZ(300deg);
            transform: rotateZ(300deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  75% {
    -webkit-transform: rotateZ(400deg);
            transform: rotateZ(400deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
  100% {
    -webkit-transform: rotateZ(500deg);
            transform: rotateZ(500deg);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
  }
}

/* Utilizamos estos keyframes en el svg */
@-webkit-keyframes move {
  from {
    stroke-dashoffset: 1000;
    stroke: #fafafa;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 4368;
    stroke: #000000;
    fill-opacity: 0.3;
  }
}
@keyframes move {
  from {
    stroke-dashoffset: 1000;
    stroke: #fafafa;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 4368;
    stroke: #000000;
    fill-opacity: 0.3;
  }
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 340 720;
    stroke-dashoffset: -398;
    stroke-width: 18px;
  }
  100% {
    stroke-dasharray: 114 4 31;
    stroke-dashoffset: 135 123;
    stroke-width: 7px;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 340 720;
    stroke-dashoffset: -398;
    stroke-width: 18px;
  }
  100% {
    stroke-dasharray: 114 4 31;
    stroke-dashoffset: 135 123;
    stroke-width: 7px;
  }
}

@-webkit-keyframes colors {
  0% {
    color: #008500;
  }
  25% {
    color: red;
  }
  50% {
    color: #008500;
  }
  75% {
    color: red;
  }
  100% {
    color: black;
  }
}

@keyframes colors {
  0% {
    color: #008500;
  }
  25% {
    color: red;
  }
  50% {
    color: #008500;
  }
  75% {
    color: red;
  }
  100% {
    color: black;
  }
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 10% 10% 10%;
      grid-template-columns: 70% 10% 10% 10%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header nav a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: black;
}

header nav a:hover {
  background-color: #ddd;
  color: black;
}

header nav a.active {
  background-color: #008500;
  color: white;
}

header nav a:visited {
  color: #008500;
}

header nav a img {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 1050px) {
  header nav {
    -ms-grid-columns: 50% 15% 15% 19%;
        grid-template-columns: 50% 15% 15% 19%;
  }
}

@media screen and (max-width: 600px) {
  header nav {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  header nav img {
    margin: auto;
  }
}

main.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.index section {
  /* IMAGEN */
  /* SVG */
  /* RUEDA DE CARGA */
  /* TARIFAS */
  /* TEXTOS */
}

main.index section.img picture * {
  width: 100%;
  -webkit-clip-path: inset(4% 3% 10% 2%);
          clip-path: inset(4% 3% 10% 2%);
  border-radius: 255px;
}

main.index section.svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

main.index section.svg .forma {
  stroke-width: 10px;
  stroke: #fafafa;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  /* Safari */
  -webkit-animation-name: move;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: forwards;
  -webkit-animation-iteration-count: 1;
  /* Mozilla */
  -moz-animation-name: move;
  -moz-animation-duration: 10s;
  -moz-animation-timing-function: forwards;
  -moz-animation-iteration-count: 1;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: forwards;
  animation-iteration-count: 1;
  fill: transparent;
  stroke-dasharray: 120 500;
  stroke-dashoffset: -300;
  stroke-width: 8px;
  stroke: #ff0800;
}

main.index section.svg .text {
  color: #008500;
  font-size: 22px;
  line-height: 32px;
  position: relative;
  top: -70px;
}

main.index section.svg .text:hover {
  /* Safari */
  -webkit-animation-name: colors;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: forwards;
  -webkit-animation-iteration-count: 1;
  /* Mozilla */
  -moz-animation-name: colors;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: forwards;
  -moz-animation-iteration-count: 1;
  animation-name: colors;
  animation-duration: 3s;
  animation-timing-function: forwards;
  animation-iteration-count: 1;
}

main.index section.svg:hover .forma {
  /* Safari */
  -webkit-animation-name: draw;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: forwards;
  -webkit-animation-iteration-count: 1;
  /* Mozilla */
  -moz-animation-name: draw;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: forwards;
  -moz-animation-iteration-count: 1;
  animation-name: draw;
  animation-duration: 2s;
  animation-timing-function: forwards;
  animation-iteration-count: 1;
}

main.index section.load {
  text-align: center;
  margin-top: 10px;
}

main.index section.load .loader {
  /* Safari */
  -webkit-animation-name: load;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  /* Mozilla */
  -moz-animation-name: load;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: load;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

main.index section.tarifas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

main.index section.tarifas .tarifa {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 22% 20% 46% 10%;
      grid-template-rows: 22% 20% 46% 10%;
  border-style: solid;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(166, 166, 166, 0.75);
          box-shadow: 10px 10px 0px 0px rgba(166, 166, 166, 0.75);
}

main.index section.tarifas .tarifa .header {
  height: 100%;
  text-align: center;
  color: white;
  background-color: gray;
  padding-top: 5px;
}

main.index section.tarifas .tarifa .header img {
  display: block;
  margin: auto;
}

main.index section.tarifas .tarifa .price {
  color: white;
  background-color: #008500;
  text-align: center;
  font-size: 30px;
}

main.index section.tarifas .tarifa .content p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  border-style: none none solid none;
  padding: 20px;
}

main.index section.tarifas .tarifa .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

main.index section.tarifas .tarifa .footer button {
  background-color: #008500;
  border: solid;
  color: white;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

main.index section.tarifas .tarifa .footer button:hover {
  color: yellow;
}

main.index section.tarifas .tarifa:hover {
  /* Safari */
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  /* Mozilla */
  -moz-transition-property: transform;
  -moz-transition-duration: 0.4s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main.index section.text--company {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

main.index section.text--company article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  max-width: 80%;
  margin-left: 10%;
}

main.index section.text--company article p em.especial {
  background: #FFCC99;
  border: 1px solid #FF9900;
  padding: .1em;
}

main.index section.text--company article p span {
  font-weight: bold;
}

main.index section.text--company article p {
  inline-size: 40vw;
}

@media screen and (max-width: 1050px) {
  main.index section.tarifas {
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
  }
  main.index section.tarifas .tarifa {
    height: 460px;
    margin-top: 30px;
    -ms-grid-rows: 25% 12% 41% 20%;
        grid-template-rows: 25% 12% 41% 20%;
  }
  main.index section.tarifas .tarifa .header h2, main.index section.tarifas .tarifa .price h2 {
    font-size: 20px;
  }
  main.index section.tarifas .tarifa .content p {
    font-size: 15px;
    padding: 10px;
  }
  main.index section.tarifas .tarifa .footer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main.index section.tarifas .tarifa .footer button {
    padding: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  main.index section.tarifas {
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
  }
  main.index section.text--company {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main.index section.text--company article p {
    inline-size: 75vw;
  }
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

main.aboutus section {
  width: 80%;
  margin: 0 auto;
  display: table;
  margin-top: 40px;
}

main.aboutus section nav.shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.aboutus section article {
  -webkit-box-sizing: border-box;
  /* Safari */
  /* Mozilla */
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding: 2%;
}

main.aboutus section article:target {
  background: #ccffc5;
}

main.aboutus section article.column1 {
  width: 50%;
}

main.aboutus section article.column2 {
  width: 50%;
}

main.aboutus section article.column2 ol > li:nth-child(2n+1) {
  background: #008500;
  color: white;
}

main.aboutus section article.column3 {
  width: 33%;
}

main.aboutus section article.column4 {
  width: 33%;
}

main.aboutus section article.column5 {
  width: 33%;
}

@media screen and (max-width: 960px) {
  main.aboutus section {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  main.aboutus section {
    width: 100%;
  }
  main.aboutus section nav.shortcut {
    font-size: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.aboutus section nav.shortcut a {
    margin-top: 8px;
  }
  main.aboutus section article.column3 {
    width: 50%;
  }
  main.aboutus section article.column4 {
    width: 50%;
  }
  main.aboutus section article.column5 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  main.aboutus section {
    width: 100%;
  }
  main.aboutus section article.column1, main.aboutus section article.column2, main.aboutus section article.column3, main.aboutus section article.column4, main.aboutus section article.column5 {
    width: 100%;
  }
}

main.contact {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  /* Safari */
  /* Mozilla */
  box-sizing: border-box;
  text-align: center;
}

main.contact .titles .unuseful_title {
  position: absolute;
  margin-left: 7%;
  margin-top: -3%;
}

main.contact form fieldset {
  width: 70%;
  margin: auto;
}

main.contact form fieldset table {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.contact form fieldset:hover {
  background-color: #ccffc5;
}

@media screen and (max-width: 1050px) {
  main.contact form fieldset {
    width: 80%;
  }
  main.contact form fieldset table .table__row {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

footer {
  background: #cacaca;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer aside {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}

footer aside a {
  color: #008500;
}

@media screen and (max-width: 600px) {
  footer {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  footer .aboutus {
    display: none;
  }
}

/* fontelico */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html {
  font: 1em/1.3 Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */