$companycolor :rgb(0, 133, 0);
$colortarifas: white;
$colorform: rgb(204, 255, 197);

@import "_keyframes";
@import "_mixins";
@import "_header";
@import "_index_main";
@import "_aboutus_main";
@import "_contact_main";
@import "_footer";

@import url(http://weloveiconfonts.com/api/?family=entypo
);

/* fontelico */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html {
  font: 1em/1.3 Arial, Helvetica, sans-serif; 
}

body {
    margin: 0px;
}