main.index {
    section {
        /* IMAGEN */
        &.img {
            display: none;
        }

        /* SVG */
        &.svg {
            display: none;
        }
        /* RUEDA DE CARGA */
        &.load {
            display: none;
        }

        /* TARIFAS */
        &.tarifas {
            .tarifa {
                .footer {
                    display: none
                }

            }
            display: grid;
            justify-content: center;
            margin-top: 30px;
            grid-template-columns: 40% 40%;
        }
        
        /* TEXTOS */
        &.text--company {
            display: none
        }
    }
}
