@media print {
  

  
  header {
    display: none;
  }

  @import "_index_main";
  
  footer {
    display: none;
  }

  @import url(http://weloveiconfonts.com/api/?family=entypo
  );
  
  /* fontelico */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
  
  html {
    font: 1em/1.3 Arial, Helvetica, sans-serif; 
  }
  
  body {
      margin: 0px;
  }
}
