@import url(http://weloveiconfonts.com/api/?family=entypo);
@media print {
  header {
    display: none;
  }
  main.index section {
    /* IMAGEN */
    /* SVG */
    /* RUEDA DE CARGA */
    /* TARIFAS */
    /* TEXTOS */
  }
  main.index section.img {
    display: none;
  }
  main.index section.svg {
    display: none;
  }
  main.index section.load {
    display: none;
  }
  main.index section.tarifas {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
  }
  main.index section.tarifas .tarifa .footer {
    display: none;
  }
  main.index section.text--company {
    display: none;
  }
  footer {
    display: none;
  }
  /* fontelico */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
  html {
    font: 1em/1.3 Arial, Helvetica, sans-serif;
  }
  body {
    margin: 0px;
  }
}
/*# sourceMappingURL=style_print.css.map */